.carousel-container {
    overflow: hidden;
    width: 100%;
    position: relative;
  }
  
  .carousel-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
  }
  
  .reference-card {
    width: 300px;
    transition: transform 0.5s;
  }
  
  button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 2rem;
    z-index: 10;
    transition: transform 0.3s;
  }
  
  button:hover {
    transform: scale(1.2);
  }
  